{% extends 'animalerie/base.html' %}


<!-- Liste des animaux -->
{% block content %}

    <div style="color: red">{{ msg }}</div>

    {% for animal in animaux %}
        <div class="animal">
            <h2><a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a></h2>
            <p>Etat : {{ animal.etat }}</p>
            <p>Type : {{ animal.type }}</p>
            <p>Race : {{ animal.race }}</p>
            <p>Lieu : {{ animal.lieu|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <div>
        <a class="btn-primary" href="animal_list.html"{>Ne pas afficher le détail des animaux</a>
    </div>

{% endblock %}

<!-- Formulaire -->
{% block formulaire %}

    <form action="animal_list_et_detail.html" method="post">{% csrf_token %}

        <h1>Sélectionner un animal</h1>

        {% for animal in animaux %}
            <div>
              <input type="radio" id={{ animal.id_animal }} name="animal" value={{ animal.id_animal }}
                     checked>
              <label for={{ animal.id_animal }}>{{ animal.id_animal }}</label>
            </div>
        {% endfor %}

        <h1>Sélectionner une action</h1>

        <div>
          <input type="radio" id="nourrir" name="action" value="nourrir"
                 checked>
          <label for="nourrir">Nourrir</label>
        </div>

        <div>
          <input type="radio" id="divertir" name="action" value="divertir"
                 checked>
          <label for="divertir">Divertir</label>
        </div>

        <div>
          <input type="radio" id="coucher" name="action" value="coucher"
                 checked>
          <label for="coucher">Coucher</label>
        </div>

        <div>
          <input type="radio" id="réveiller" name="action" value="réveiller"
                 checked>
          <label for="réveiller">Réveiller</label>
        </div>

        <div>
            <button class="btn-primary" type="submit">Envoyer</button>
        </div>

    </form>

{% endblock %}
